.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #1f1f1f;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-family: sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-bottom: 1px solid #000;
    padding: 1rem;
    width: 100%;
}

.logo-img {
    height: clamp(2rem, 2vw, 3rem);
}

.logo-text {
    font-family: sans-serif;
}

.pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.pages-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    color: color-mix(in srgb, #fff 60%, transparent);
    cursor: pointer;
    transition: 0.2s ease-in;
    padding: 1rem;
    width: 90%;
    background-color: transparent;
    border: none;
}

.pages-button:hover {
    color: #00DA5A;
}

.active {
    background-color: #02441d;
    color: #00DA5A;
    border-radius: 3rem;
}

.profile {
    border-top: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    color: #fff;
}